#form1 {
    background-color: rgb(96, 130, 130);
    text-align: center;
    font-size: 24px;
    border: 1px solid black;
}
body {
    font-family: sans-serif;
    width: 50%;
    max-width: 800px;
    min-width: 480px;
    margin: 0 auto;
}
.guessSubmit { 
    padding: 10px 20px; 
}
.p1 {
    text-align: center;
    color: rgb(88, 88, 139);
}